/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   font-family: "Montserrat", sans-serif;
   line-height: 1;
   font-size: 12px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*--------------------*/
body {
   color: #fff;
}

.block-navbar {
   position: relative;
   z-index: 10000;

   font-weight: 500;
   text-transform: uppercase;
}
.navbar {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
   min-height: 50px;
   border-radius: 0;
   border: 0;
   padding-top: 30px;
   padding-bottom: 30px;
   background: transparent;
}

.navbar-wrapper {
   display: flex;
   flex-wrap: wrap;
}

.container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
}
.navbar-header {
   margin-bottom: 20px;
}
.navbar .logo {
   display: block;
   width: 190px;
   margin-right: 60px;
   padding-right: 15px;
}

.logo > img {
   max-width: 100%;
   vertical-align: middle;
   border: 0;
}

.navbar-callapse {
}
.navbar-callsapse-wrapper {
}
.menu {
   display: flex;
   flex-wrap: wrap;
}

.nav > li {
   margin-right: 30px;
   margin-top: 5;
   margin-bottom: 12px;
}

.nav > li > a {
   padding: 0;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   text-transform: uppercase;
   color: #fff;
   border-bottom: 3px solid transparent;
   transition: border-color 400ms;
}

.nav > li > a:hover {
   border-color: #f14d34;
}

.caret {
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px dashed;
   border-top: 4px solid \9;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
}

.dropdown {
}
.dropdown-warpper {
}
.dropdown-menu {
}

.block-progress {
}

.block-main {
   overflow: hidden;
   position: relative;
   padding: 130px 0 60px;
}

.block-main:before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 10;
}

.block-main .container {
   position: relative;
   z-index: 15;
}

.block-main-background video {
   width: 100%;
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: 5;
   filter: blur(3px);
}

.block-main-support {
}

.support {
   display: flex;
   flex-wrap: wrap;
}
.support-main {
   padding-top: 20px;
}
.support-title {
   font-size: 52px;
   line-height: 60px;
   font-weight: bold;
   margin-top: 0;
   margin-bottom: 20px;
}
.support-description {
   font-size: 18px;
   line-height: 1.6;
   font-weight: 500;
   color: rgba(255, 255, 255, 0.8);
   margin-bottom: 55px;
}
.support-btn {
   display: inline-block;
   font-weight: 500;
   font-size: 12px;
   text-transform: uppercase;
   line-height: 1;
   text-decoration: none;
   padding: 22px 20px;
   width: 220px;
   max-width: 100%;
   text-align: center;
   border: 2px solid #f14d34;
   border-radius: 5px;
   transition: background 300ms;
   margin-bottom: 45px;
}

.support-btn > a {
   color: #fff;
}

.support-btn:hover {
   background: #f14d34;
   text-decoration: none;
   color: #fff;
}

.support-achievements {
   display: flex;
   flex-wrap: wrap;

   margin-top: 50px;
}

.support-achievement {
   width: 50%;
   margin-bottom: 96px;
   padding-left: 15px;
   padding-right: 15px;
}
.support-achievement-wrapper {
   border-left: 3px solid #f14d34;
   padding-left: 15px;
   padding-top: 5px;
   padding-bottom: 10px;
   min-height: 80px;
   height: 100%;
   text-align: left;
}

.first .support-achievement-title {
   font-size: 48px;
   margin-top: -22px;
}

.support-achievement-title {
   font-size: 24px;
   color: #fff;
   font-weight: bold;
   line-height: 1;
   margin-bottom: 5px;
   position: relative;
}

.support-achievement-title img {
   vertical-align: baseline;
   position: absolute;
   left: 55px;
   top: -16px;
}

.support-achievement-description {
   font-weight: 500;
   font-size: 12px;
   line-height: 1.25;
   color: rgba(255, 255, 255, 0.7);
}

/* Медиа запросы {
      min 1200 : 1170
      min 992 : 970
      min 768 : 750
   }
*/

/*@media (min-width: 1200px) {
   .container {
      margin-top: 1170px;
   }
}

@media (min-width: 992px) {
   .container {
      margin-top: 970px;
   }
}

@media (min-width: 768px) {
   .container {
      margin-top: 750px;
   }
}
*/

.content {
}
.competencies {
   padding: 100px 0;
}
.container {
}
.competencies-title {
   font-weight: bold;
   font-size: 42px;
   color: #050c33;
   margin: 0 0 20px;
}
.competencies-description {
   line-height: 1.6;
   margin-bottom: 55px;
   font-weight: 500;
   font-size: 16px;
   color: #4f5a73;
}

.competencies-row {
   display: flex;
   flex-wrap: wrap;
}

.competency {
   width: 50%;
   margin-bottom: 60px;
}

.competency-wrapper {
}

.competency-img {
   margin-bottom: 30px;
}

.competency-description {
   font-weight: 500;
   font-size: 16px;
   color: #4f5a73;
}

/*---------------------------------------------------------------*/
.advantages {
}
.container {
}
.advantages-title {
   margin-bottom: 55px;
   text-align: center;
   color: #050c33;
   font-weight: bold;
   font-size: 42px;
}
.advantages-row {
   position: relative;
   z-index: 20;
   margin-bottom: -212px;
   padding: 0 12px;
   display: flex;
   flex-wrap: wrap;
}

.advantage-item {
   padding-right: 15px;
   padding-left: 15px;
   width: 100%;
   margin-bottom: 10px;
}
.advantage-item-wrapper {
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 20px 20px 40px rgba(5, 12, 51, 0.05);
   margin-left: -12px;
   height: 100%;
   position: relative;
   padding: 25px 25px 45px;
   min-height: 295px;
   border-radius: 10px;
}
.advantage-item-header {
}
.advantage-item-num {
   font-weight: bold;
   font-size: 12px;
   color: #828a9b;
   margin-bottom: 20px;
}
.advantage-item-title {
   font-weight: bold;
   font-size: 18px;
   color: #050c33;
   line-height: 1.22;
   margin-bottom: 15px;
}
.advantage-item-body {
   position: relative;
   z-index: 10;
   font-weight: 500;
   font-size: 16px;
   color: #4e5a73;
   line-height: 1.37;
}
.advantage-item-icon {
   position: absolute;
   bottom: 0;
   right: 0;
}

/*---------------------------------------------------------------*/

.expertise {
   padding: 380px 0 150px;
   position: relative;
   z-index: 10;
   background: linear-gradient(254.72deg, rgba(255, 255, 255, 0.276) -114.85%, rgba(255, 255, 255, 0) 69.04%), #040613;
}
.container {
}
.expertise-wrapper {
   text-align: left;
   width: 50%;
   margin-left: 50%;
}
.expertise-content {
}
.expertise-content-title {
   font-weight: bold;
   font-size: 42px;
   margin-bottom: 65px;
}
.expertise-content-row {
}
.row {
}
.row-items {
   display: flex;
   flex-wrap: wrap;
}

.row-item {
   width: 100%;
   padding-right: 60px;
   margin-bottom: 30px;
   border-left: 3px solid #f14d34;
   padding-left: 15px;
   padding-top: 10px;
   padding-bottom: 10px;

   line-height: 1.6;
   min-height: 88px;
   height: 100%;
   font-weight: 500;
   font-size: 16px;
   color: rgba(256, 256, 256, 0.7);
}

.row-item-body {
   width: 260px;
   max-width: 100%;
}

.expertise-img {
   width: 50%;

   position: absolute;
   bottom: -90px;
   left: 0;
}
.expertise-img > img {
   width: 100%;
   height: auto;
}

/*---------------------------------------------------------------*/

.tariffs-bg {
   color: #000;

   background: linear-gradient(233deg, rgba(238, 174, 202, 1) 0%, rgba(233, 226, 148, 0.7987570028011204) 100%);
   padding-top: 200px;
   padding-bottom: 10px;
   margin-bottom: 100px;
}

.tariffs-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.tariffs-header {
}
.tariffs-title {
   margin-top: 0;
   margin-bottom: 65px;
   color: #000;
   font-weight: bold;
   font-size: 42px;
}
.tariffs-body {
   width: 100%;
}
.tariffs-items {
   display: flex;
   flex-wrap: wrap;
}

.tariff {
   width: 100%;
   float: left;
   padding-left: 15px;
   padding-right: 15px;
}

.tariffs-item {
   height: auto;
   border-radius: 5px;
   border: 1px solid #e6e6e6;
   padding: 70px 20px 60px;
   background: #fff;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   transition: all 500ms;
   transform-origin: center;
   margin-bottom: 30px;
   max-width: 500px;
}

.tariff-item-wrapper {
   width: 300px;
   max-width: 100%;
   margin: 0 auto;
   height: 100%;
   position: relative;
   padding-bottom: 80px;
}

.tariffs-item-hover {
   transform: scale(1.1);
}

.item1 {
}

.item-title {
   padding-bottom: 20px;
   margin-bottom: 60px;
   border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.item-title > h3 {
   font-weight: bold;
   font-size: 22px;
   color: #f14d32;
   line-height: 1.3;
}
.item-body {
   display: flex;
   flex-direction: column;
   margin-bottom: 40px;
}
.item-point {
   margin-bottom: 18px;
   line-height: 1.2;
   font-size: 16px;
   font-weight: 100;
   padding-left: 30px;
   position: relative;
   color: #4e5972;
   font-weight: 500;
}

.item-point:before {
   content: "";
   display: inline-block;
   position: absolute;
   top: 0;
   left: 0;
   width: 13px;
   height: 10px;
   font-size: 14px;
   background: url("../img/check-mark.png") no-repeat center;
   background-size: contain;
}

.item-button {
   position: absolute;
   bottom: 40px;
   width: 100%;
   display: block;
   padding: 20px 10px;
   text-align: center;
   border-radius: 5px;
   text-transform: uppercase;
   color: #f14d34;
   transition: all 500ms;
   line-height: 1;
   font-size: 12px;
   font-weight: 500;
   border: 1px solid #f14d34;
}

.item-button:hover {
   color: #fff;
   background: #f14d34;
}

.item2 {
}
.item3 {
}
.tariffs-footer {
   text-align: center;
   line-height: 1.3;
   font-weight: 500;
   font-size: 16px;
   color: #828a9b;
   width: 475px;
   max-width: 100%;
   margin: 0 auto;
}

.tariffs-footer > a {
   display: block;
   margin-top: 26px;
   font-size: 12px;
   text-transform: uppercase;
   color: #050c33;
   text-decoration: underline;
   transition: all 300ms;
}
.tariffs-footer > a:hover {
   color: #f14d32;
}

/*---------------------------------------------------------------*/

.operating-time {
   margin: 150px 0;
}
.container {
}
.operating-time-wrapper {
}
.operating-time-title > h2 {
   font-weight: bold;
   font-size: 42px;
   color: #050c33;
   margin: 0 0 50px;
}
.operating-time-body {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
}
.operating-time-item {
   width: 100%;
}
.operating-time-item-icon {
   margin-bottom: 30px;
}
.operating-time-item-title {
   font-size: 32px;
   margin-bottom: 20px;
   font-weight: bold;
   color: #050c33;
}
.operating-time-item-suptitle {
   font-weight: 500;
   color: #4f5a73;
   font-size: 16px;
}

/*---------------------------------------------------------------*/

.team {
}
.container {
}
.team-wrapper {
}
.team-title > h2 {
   text-align: center;
   font-weight: bold;
   font-size: 42px;
   color: #050c33;
   margin-bottom: 80px;
}
.team-body {
   display: flex;
   flex-wrap: wrap;
   text-align: left;
}
.team .top {
   justify-content: space-between;
   margin-bottom: 50px;
}
.team-item {
   max-width: 50%;
   padding: 0 50px;
}
.team-item-icon {
   width: 100%;
   margin-bottom: 20px;
}
.team-item-icon > img {
   max-width: 100%;
}

.team-name {
   font-weight: bold;
   font-size: 16px;
   line-height: 1.37;
   color: #050c33;
   text-decoration: none;
   display: inline-block;
   margin-bottom: 5px;
}
.team-position {
   padding: 0;
   color: #505570;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.37;
   margin-bottom: 5px;
}

.item4 {
   margin-right: 150px;
}

.team .bottom {
   margin-bottom: 50px;
}

.team-btn {
   text-align: center;
}
.team-btn > a {
   text-align: center;
   display: inline-block;
   font-weight: 500;
   font-size: 12px;
   line-height: 1;
   text-transform: uppercase;
   color: #050c33;
   padding: 24px 75px;
   border: 1px solid #cccdd5;
   border-radius: 5px;
   text-decoration: none;
   margin-bottom: 50px;
}

/*---------------------------------------------------------------*/

/* Медиа запросы {
      min 1200 : 1170
      min 992 : 970
      min 768 : 750
   }
*/

@media (max-width: 1080px) {
   .competency-description {
      font-size: 14px;
   }
}

@media (max-width: 991px) {
   .competencies-title {
      font-size: 32px;
   }

   .support-achievement {
      margin-bottom: 30px;
   }
   .support-achievement-wrapper {
      width: 160px;
      max-width: 100%;
   }

   .expertise {
      padding: 270px 0 420px;
   }

   .expertise-wrapper {
      width: 100%;
      margin-left: 0;
   }

   .expertise-content-title {
      font-size: 32px;
   }

   .item-point {
      font-size: 14px;
   }
}

@media (max-width: 767px) {
   .block-main {
      padding-top: 40px;
   }
   .navbar {
      position: fixed;
      bottom: -2px;
      top: auto;
      z-index: 100;
      left: 0;
      right: 0;
      padding: 0;
      background: #000;
   }
   .navbar-header {
      float: left;
      position: absolute;
      bottom: -8px;
      margin-right: -15px;
      margin-left: -15px;
   }

   .navbar-callapse {
      display: none;
      overflow: hidden;
   }
   .navbar-collapse-wrapper {
      float: none;
      margin-left: -15px;
      margin-right: -15px;
   }

   .block-main-support-wrapper {
      flex-direction: column;
   }

   .support-title {
      font-size: 42px;
      line-height: 1.2;
      text-align: center;
   }
   .support-description {
      font-size: 14px;
      text-align: center;
   }
   .support {
      text-align: center;
   }
   /*------------------------------------------------*/

   .competencies-title {
      font-size: 24px;
      margin-bottom: 20px;
   }

   /*------------------------------------------------*/

   .advantages-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
   }
   /*------------------------------------------------*/

   .tariffs-item {
      margin: 0 auto 30px;
      padding: 30px 15px;
      width: 420px;
      max-width: 100%;
   }

   .tariffs-title > h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
   }

   .tariff-item-wrapper {
      width: 100%;
   }

   .item-point {
      font-size: 14px;
   }

   /*------------------------------------------------*/
   .operating-time {
      margin-bottom: 100px;
   }

   .operating-time-title > h2 {
      font-size: 24px;
      margin-bottom: 70px;
   }

   .operating-time-item {
      margin-bottom: 40px;
   }

   /*-----------------------------------------------*/
   .team-title > h2 {
      font-size: 24px;
      margin: 40px;
   }

   .team-item {
      padding: 0 15px;
   }
}

@media (max-width: 650px) {
   .team-position {
      font-size: 12px;
   }
}

@media (min-width: 768px) {
   .container {
      width: 750px;
   }

   .support-achievement {
      width: 33.3333%;
   }

   .competency {
      width: 25%;
   }

   .advantage-item {
      width: 50%;
      margin-bottom: 10px;
      padding-right: 10px;
   }

   .row-item {
      width: 50%;
   }

   .tariff {
      width: 33.333%;
   }

   .operating-time-item {
      width: 33.33333333%;
   }

   .team-item {
      padding: 0 40px 70px 40px;
   }
}

@media (min-width: 992px) {
   .container {
      width: 970px;
   }

   .support-item {
      width: 50%;
   }

   .advantage-item {
      width: 25%;
      margin-bottom: 10px;
      padding-right: 10px;
   }

   .team-item {
      width: 33.333%;
   }
}

@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}
